* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Areal;
  color: #F9AA33;
  background-color: #496673;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #CAD5DA;
  margin: 0;
}

.page {
  max-width: 1200px;
  padding: 20px;
  display: grid;
  justify-content: center;
  color: #F9AA33;
}

.page__title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  margin: 280px 0 20px;
}

.page__error-text {
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 72px;
}

.page__link {
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  color: #CAD5DA;
  text-decoration: none;
}
