.avatar {
  display: grid;
  justify-content: center;
  margin-bottom: 68px;
}

.avatar__image-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--main-gray-100);
  margin-bottom: 16px;
}

.data-list {
  list-style: none;
  padding: 0;
  margin: 0 0 62px;
  width: 510px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-gray-800);
}

.item__label {
  padding: 0;
  margin: 0;
}

.item__value {
  padding: 0;
  margin: 0;
  color: var(--accent-color-800);
}

.page-settings__list-change {
  display: grid;
}

.page-settings__button-wrapper {
  display: flex;
  justify-content: center;
}

.page-settings__link {
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--main-gray-800);
}

.page-settings__link:last-child {
  border-bottom: none;
}
