body {
  font-family: Inter, Areal;
  color: #F9AA33;
  background-color: #496673;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #CAD5DA;
}

/* .page-login {
  max-width: 1200px;
  padding: 20px;
} */

.page__title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #F9AA33;
  margin: 0 0 40px;
}

.avatar {
  display: grid;
  justify-content: center;
  margin-bottom: 68px;
}

.avatar__image-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #CAD5DA;
  margin-bottom: 16px;
}

.page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 510px;
  margin: 0 auto;
}

.input-list {
  list-style: none;
  padding: 0;
  margin: 0 0 62px;
  width: 510px;
}

.input-list__item {
  padding: 0 0 10px;
  margin: 0 0 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #344955;
}

.input-list__item-label {
  color: #CAD5DA;
  margin: 0;
}

.input-list__item-input {
  padding: 0;
  margin: 0;
  color: var(--primary-text);
  border: none;
  background-color: var(--dark-gray);
  text-align: end;
}

.input-list__item-input::placeholder {
  font-weight: 500;
  color: #F9AA33;
}

.input-list__button {
  min-height: 37px;
  padding: 12px;
  width: 100%;
  max-width: 280px;
  color: #496673;
  background: #F9AA33;
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
}
