.page__title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--accent-color-800);
  margin: 0 0 40px;
}

.avatar {
  display: grid;
  justify-content: center;
  margin-bottom: 68px;
}

.avatar__image-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--main-gray-100);
  margin-bottom: 16px;
  overflow: hidden;
}

.page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 510px;
  margin: 0 auto;
}

.input-list {
  list-style: none;
  padding: 0;
  margin: 0 0 62px;
  width: 510px;
}

.input-list__item {
  padding: 0 0 10px;
  margin: 0 0 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-gray-800);
}

.input-list__item-label {
  color: var(--main-gray-100);
  margin: 0;
}

.input-list__item-input {
  padding: 0;
  margin: 0;
  color: var(--accent-color-800);
  border: none;
  background-color: var(--main-gray-600);
  text-align: end;
}

.input-list__item-input::placeholder {
  font-weight: 500;
  color: var(--accent-color-800);
}

.input-list__button {
  min-height: 37px;
  padding: 12px;
  width: 100%;
  max-width: 280px;
  color: var(--main-gray-600);
  background: var(--accent-color-800);
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
}
