.page {
  display: grid;
  grid-template-columns: 310px 1fr;
  background-color: var(--main-gray-800);
  min-height: 100vh;
}

.chats {
  position: relative;
}

.chats::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--gray-500);
  top: 0;
  right: 0;
}

.chats__header-brow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 13px 10px;
}

.chats__header > .button {
  width: calc(100% - 20px);
  margin: 0 10px;
}

.page__chats .input-list__item {
  margin: 0;
  padding: 0;
}

.chat__list-wrapper {
  height: 100%;
}

.chats-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.chats-list__item:last-child::after {
  content: none;
}

.selected-chat {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.selected-chat__header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.selected-chat__header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--gray-500);
  bottom: 0;
  left: 0;
}

.selected-chat__chat-info {
  display: flex;
  align-items: center;
}

.selected-chat__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--turquoise-200);
  overflow: hidden;
  margin-right: 10px;
}

.selected-chat__chat-options {
  margin-left: auto;
}

.selected-chat__name {
  color: var(--accent-color-800);
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
}

.button-round--options {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--main-gray-700);
}

.dots {
  display: block;
  position: relative;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--accent-color-900);
}

.dots::before,
.dots::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--accent-color-900);
}

.dots::before {
  top: -6px;
}

.chat-options__popup {
  display: none;
}

.list-messages {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--main-gray-600);
}

.list-messages::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--gray-500);
  bottom: 0;
  left: 0;
}

.send-section {
  display: flex;
  padding: 11px;
}

.message-actions {
  margin-right: 10px;
}

.message-actions__popup {
  display: none;
}

.input-message {
  display: grid;
  grid-template-columns: 1fr 28px;
  column-gap: 10px;
  width: 100%;
}

.input-message__input {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--green-900);
  padding: 10px 20px;
  border-radius: 16px;
  background-color: var(--gray-500);
  border: none;
}

.input-message__input::-webkit-input-placeholder {
  color: var(--green-900);
}
