:root {
  --accent-color-900: #f48226;
  --accent-color-800: #f9aa33;
  --main-gray-800: #344955;
  --main-gray-700: #3b525d;
  --main-gray-600: #496673;
  --main-gray-100: #cad5da;
  --gray-500: #a9b8c1;
  --green-900: #254941;
  --turquoise-200: #94c7c3;
  --success-color: #00ae21;
  --attention-color: #ff3230;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Inter, Areal, sans-serif;
  color: var(--main-gray-100);
  background-color: var(--main-gray-600);
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  min-height: 37px;
  padding: 12px;
  width: fit-content;
  color: var(--main-gray-600);
  background: var(--accent-color);
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
}

.button--success {
  color: var(--success-color);
}

.button--error {
  color: var(--attention-color);
}

.button--text {
  border: none;
  background: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
