.page-sing-up {
  font-size: 9px;
  line-height: 9px;
}

.page-sing-up__title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--accent-color-800);
  margin: 0 0 40px;
}

.page-sing-up__form {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.input-list {
  list-style: none;
  padding: 0;
  margin: 0 0 62px;
}

.input-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--main-gray-800);
}

.input-list__item.error {
  border-bottom-color: var(--attention-color);
}

.input-list__item-label {
  color: var(--main-gray-100);
  font-size: 9px;
  line-height: 9px;
  margin: 0 0 9px;
}

.input-list__item-input {
  border: none;
  background-color: var(--main-gray-600);
  padding: 0;
  color: var(--accent-color-800);
}

.input-list__item-input::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: var(--main-gray-100);
}

.input-list__button {
  align-self: center;
  min-height: 37px;
  padding: 12px;
  width: 100%;
  color: var(--main-gray-600);
  background: var(--accent-color-800);
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
}

.page-sing-up__link {
  align-self: center;
  display: flex;
  justify-content: center;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  color: var(--main-gray-100);
  text-decoration: none;
}
