* {
    box-sizing: border-box;
}

body {
  font-family: Inter, Areal;
  color: #F9AA33;
  background-color: #496673;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #CAD5DA;
}

.page-login {
    max-width: 1200px;
    padding: 20px;
}

.page-login__title {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #F9AA33;
    margin: 0 0 40px;
}

.page-login__form {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0 auto;
}

.input-list {
    list-style: none;
    padding: 0;
    margin: 0 0 62px;
}

.input-list__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #344955;
}

.input-list__item-input {
    border: none;
    background-color: #496673;
    padding: 0;
}

.input-list__item-input::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #F9AA33;
}

.input-list__item-label {
    color: #CAD5DA;
    font-size: 9px;
    line-height: 9px;
    margin: 0 0 9px;
}

.input-list__button {
  min-height: 37px;
  padding: 12px;
  width: 100%;
  color: #496673;
  background: #F9AA33;
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
}

.page-login__link {
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  color: #CAD5DA;
  text-decoration: none;
}
