.message {
  display: flex;
  max-width: 80%;
  padding: 11px;
  margin: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--main-gray-100);
  border-radius: 0 12px 12px 12px;
  background-color: var(--main-gray-700);
}

.message--my {
  align-self: flex-end;
  border-radius: 12px 12px 0 12px;
}

.message__text {
  margin: 0;
}

.message__date {
  align-self: flex-end;
  margin: 0;
  padding-left: 10px;
  font-size: 9px;
  line-height: 9px;
  color: var(--accent-color-800);
}
